header{
    background-color: $fondo;
}
// imagen del logo
.imagen-logo{
    height: 100px;
    text-align: center;
}

// logo de la izquierda
.logo{
    width: 7em;
    height: 7em;
    img{
        width: 100%;
        height: 100%;
    }
}