.finalizacion{
    text-align: center;
    }
    .whatsapp-btn {
      text-decoration: none;
      background-color: #25d366;
      color: $color-white;
      border: none;
      @include paddings (10px 20px);
      border-radius: map-get($mapa , cuarto);
      font-size: map-get($mapa , tercero);
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover{
          background-color: #128c7e;
      }
     } 