// nosotros.html, nabvar
.barramenu__contenedor{
    justify-content: center;
    &__lista{
      @include margins (0px 120px 0px 40px);
    &__a{
        background-color:$fondo-links ;
        text-decoration: none ;
        border-radius: map-get($mapa , tercero);
        color: $color-black;
        &:hover{
            color: $color-red;
        }
     }
  }
}
.carrito{
    height: 30px;
    text-align: end;
&__imagen{
    height: 100%;
}
}
.container {
    max-width: 800px;
    @include margins (20px auto);
    @include paddings (0px 20px);
&__titulo{
    text-align: center;
    margin-bottom: 30px;
    color: $color-black;
&__texto{
    color: $color-black;
    line-height: 1.6em;
    font-size: map-get($mapa , primero );
    margin-bottom: 20px;
    &__subrayado{
        color: $color-red;
        font-weight: bold;
    }
}
}
}
.carrousel{
    @include flex (row, wrap, center);
@include width-height (650px, auto);
    &__imagen{
        @include width-height (100%, auto);
        @include margins(20px none 20px none);
    }
    }
//ubicacion.html
.ubicacion__info{
@include flex (row, wrap, center);
align-items: center;
    &__texto{
        text-align: center;
    }
    &__imagen{
        @include margins (20px 0px 20px 0px);
        @include width-height (1000px, 400px);
    }
    }
//footer
.footer__contenido{
    text-align: center;
    h5{
        font-size: 2em;
    }
}
.footer__logo__final{
    text-align: center;
    @include width-height(none, 7em);
    img{
        @include width-height(none ,100%);
        @include animacionfinal;
    }
}
.footer__textofinal{
    text-align: center;
}